input {
    width: 100%;
    height: 35px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding-left: 150;
    padding-right: 150;
    padding-top: 50;
    
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #aaa;
}